*{
	padding: 0px;
	margin: 0px;
}
a:link{text-decoration:none;}
.a{color:white;background-image:url(../image/lvbiaoti.png);
	background-repeat:no-repeat;
}
#b{color:white;}
.menu{background-image:url(../image/bj.png);
background-repeat:no-repeat;
}
ul{list-style-type:none;}
ul li{background-image:url(../image/baibiaoti.png);
background-repeat:no-repeat;
padding:5px 50px;
margin:5px 20px;}

















