*{margin:0 auto;
	padding:0;}
body{font-size:12px;
	font-family:'宋体';
	color:#522a06;
	background-image:url(../images/bodybg.gif);
}
li{list-style-type:none;}
a:link{color:#522a06;
		text-decoration:none;}
a:visited{color:#522a06;}
a:hover{text-decoration:underline;}
#header{background-image:url(../images/bg.gif);
	background-repeat:no-repeat;
		height:205px;}
.banner{width:1000px;
		height:164px;}
.logo{position:absolute;
		left:25px;
		top:38px;}
#nav{height:40px;
	width:1260px;
	background-image:url(../images/nav.jpg);
	position:absolute;
	top:165px;
	}
.nav-content{width:800px;
			height:40px;
			font-weight:bold;
			color:#fff;
			position:absolute;
			left:150px;
			top:10px;}
.nav-content a:link{color:#fff;}
.nav-content a:visited{color:#fff;}			
.nav-content a:hover{color:#f9f603;
					text-decoration:none;}
#first{color:#f9f603;}
.shuru{width:140px;
		height:19px;
		border:1px solid #f8f5ee;
		background-color:#f8f5ee;
		position:absolute;
		left:900px;
		top:10px;
		}
.sousuo{width:44px;
		height:21px;
		background-color:#000;
		position:absolute;
		left:1040px;
		top:10px;
		border:1px solid #f8f5ee;}
.zi{position:absolute;
	left:1050px;
	top:13px;
	color:#fff;}
#zhengwen{width:1000px;
		overflow:hidden;}
.zhengwen-left{width:700px;
			float:left;}
.zhengwen-right{width:280px;
				float:left;
				margin-left:16px;
				margin-top:50px;}
.mianbao{height:40px;
		line-height:40px;
		padding-left:43px;}
.left-one{font-size:16px;
	font-weight:bold;
			height:45px;
			line-height:45px;
			text-align:center;
			border-bottom:1px #c9baa5 solid;}
.fubiaoti{font-size:12px;
			text-align:center;
			color:#757575;
			margin:10px;}
.left-two{line-height:28px;
			padding:10px;
			font-size:14px;
			border-bottom:1px #c9baa5 solid;}
.left-two p{text-indent:2em;
			margin-top:5px;
			}
.left-two img{margin:20px;}
.left-three{margin-top:20px;}
.left-three a{margin-right:40px;

			font-size:13px;
			color:#844004;}
.right-one{border:1px #c9baa5 solid;
			background-image:url(../images/bg.png);
			margin-bottom:20px;
			}
.right-one img{margin-bottom:10px;
				}
.right-one ul{line-height:30px;
			margin-left:13px;}
.right-two{width:280px;
			margin-top:20px;
			margin:bottom:20px;}
.mingjia{margin-top:25px;
		margin-bottom:15px;
		margin-left:70px;}
.mingjia1{height:362px;
		background-image:url(../images/show_bg.png);
	}
.mingjia1 img{margin-top:25px;
			margin-left:25px;
			}
.mingjia1 p{margin-left:25px;
			margin-top:5px;
			margin-right:30px;
			line-height:20px;}
.mingjia1 span{color:#b70000;
				font-weight:bold;}
.mingjia2{position:absolute;
		left:850px;
		top:840px;}
#footer{height:150px;
	width:100%;
	background-image:url(../images/foot.gif);
	position:absolute;
	top:1100px;
	font-weight:bold;	
		}
.foot1{position:absolute;
		left:450px;
		}
.foot1 a:hover{text-decoration:none;}
.foot2{position:absolute;
		left:400px;
		top:10px;}
.foot{position:absolute;
	left:450px;
	top:20px;
line-height:2em;}
		