.d{float:left;background-color:pink;}
.c{float:left;background-color:blue;width:200px;height:100px;margin:10px;}
.b{background-color:pink;width:450px;height:250px;float:left;margin:10px;}
.a{float:left;background-color:pink;width:200px;height:250px;margin:10px;}
.e{background-color:blue;margin:13px;height:63px;}