div.image img{display:inline;
				margin:3px;
				border:1px solid #bebebe;
				width:200px;
				height:160px;}
div.image a:link img{opacity:0.5;}
div.image a:hover img{border:1px solid #333333;
					opacity:1;}
.image{float:left;
		margin:5px;
		border:1px solid #bebebe;
	}
 .desc{padding-left:90px;
 		}