html{color:gray;font-size:12px;font-family:Arial;line-height:2em;}
a{color:#727272;text-decoration:none;}
a:hover{text-decoration:underline;color:#b9f605;}
.num1{color:white;}
.num1:hover{color:#b9f605;text-decoration:none;}
#num2{color:#fdb306;}